
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<a href="/User/FindDoctor">Find a Doctor</a>
<br>
<a href="/User/ProblemPost">Send an inquiry</a>
<br>
<a href="User/BookAppointment">Book Appointment</a>
<a href="">Profile</a>


