
@{
    ViewBag.Title = "Index";
}



<!--Links for views-->
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="~/Content/all.css" />

<!--navbar-->
@RenderPage("~/Views/Manager/ManagerNavbar.cshtml")

<div class="container-fluid" style="padding-top: 30vh;">
    <div class="alert alert-warning" role="alert">
        <center><h2><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp; Under Development</h2></center>
    </div>
</div>