
@{
    ViewBag.Title = "Index";
}

<!--Links for views-->
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="~/Content/all.css" />

<!--navbar-->
@RenderPage("~/Views/Consumer/ConsumerNavbar.cshtml")


<h2>Index</h2>

<center>

    <a href="/Consumer/FindDoctor">Find a Doctor</a>
    <br>
    <a href="/Consumer/ProblemPost">Send an inquiry</a>
    <br>
    <a href="Appointment">Book Appointment</a>
    <a href="Consumer/Edit/@Session["logged_id"]">Profile</a>

</center>

