
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<center>

    <a href="/Consumer/FindDoctor">Find a Doctor</a>
    <br>
    <a href="/Consumer/ProblemPost">Send an inquiry</a>
    <br>
    <a href="Consumer/Appointment">Book Appointment</a>
    <a href="">Profile</a>

</center>

