@model IEnumerable<PharmaAssist2._0.Models.Product>

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content(item.Image)" class="card-img-top" alt="DoctorImage">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                <br />
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.Power)</h6>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Price) tk/Box </p>
                <a href="/Product/Details/@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

<a href="/Product/Search">Back To Search</a>