
@{
    ViewBag.Title = "Search";
}

<center>
    <h2>Search</h2>

    <form action="~/Product/SearchResult" method="post">

        <input type="text" name="searchBox" />


        <input type="submit" value="Submit weakly typed form" />
        <a href="/Consumer/Index">Go Back</a>
    </form>

</center>